
/* GENERAL STYLES */

ul, ul li {
    padding: 0;
    margin: 0;
    text-indent: 0;
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 177px 1fr;
}

nav {
    background-color: #1992d4;
    grid-row: 1 / 3;
}

header {
    background-color: #ffffff;
}

main {
    background-color: #e2e8f0;
}

/* SIDEBAR */

nav {
    color: #ffffff;
}

.branding a, :is(.main-nav, .util-nav) li a {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.branding a :first-child, 
ul li a :first-child{
    display: block;
    margin: auto;
}

nav ul {
    font-weight: 600;
    font-size: 1.4rem;
}

nav ul li a {
    padding: 12px 0px;
}

.branding {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.7rem;
}

.branding a {
    padding: 25px 0px;
}

.main-nav {
    margin-bottom: 50px;
}