
/* GENERAL STYLES */

ul, ul li {
    padding: 0;
    margin: 0;
    text-indent: 0;
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    background-color: #e2e8f0;
}

nav {
    background-color: #1992d4;
    grid-row: 1 / 3;
}

header {
    background-color: #ffffff;
}

/* SIDEBAR */

nav {
    color: #ffffff;
}

.branding a, :is(.main-nav, .util-nav) li a {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.branding a :first-child, 
ul li a :first-child{
    display: block;
    margin: auto;
}

nav ul {
    font-weight: 600;
    font-size: 1.4rem;
}

nav ul li a {
    padding: 12px 0px;
}

.branding {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.7rem;
}

.branding a {
    padding: 25px 0px;
}

.main-nav {
    margin-bottom: 50px;
}

/* HEADER */

header {
    padding: 15px 50px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.profile-pic-wrapper {
    background-color: black;
}

/* Upper Header */

.upper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    background-color: #e2e8f0;
    height: 30px;
    width: 90%;
    max-width: 650px;
    margin-left: 30px;
    border: 0px;
    border-radius: 25px;
    text-indent: 1ch;
}

.uh-right-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 35px;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 30px;
    font-size: 1.05rem;
    font-weight: 700;
}

.upper-header .profile-pic-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Lower Header */

.lower-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
} 

.lh-left-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.lh-right-section {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 0px 25px;
}

.lh-right-section button {
    width: 100px;
    height: 40px;
    padding: 0px;
    border: 0px;
    border-radius: 40px;
    background-color: #1992d4;
    color: white;    
    font-weight: 600;
    text-align: center;
}

.lower-header .profile-pic-wrapper {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.greeting-text span {
    display: block;
}

.greeting-text {
    font-weight: 700;
    line-height: 1.5;
    font-size: 0.8rem;
}

.greeting-text :last-child {
    font-size: 1.35rem;
}