body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 177px 1fr;
}

nav {
    background-color: #1992d4;
    grid-row: 1 / 3;
}

header {
    background-color: #ffffff;
}

main {
    background-color: #e2e8f0;
}

