
/* GENERAL STYLES */

ul, ul li {
    padding: 0;
    margin: 0;
    text-indent: 0;
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
}

/* LAYOUT */

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    background-color: #e2e8f0;
}

nav {
    background-color: #1992d4;
    grid-row: 1 / 3;
}

header {
    background-color: #ffffff;
}

/* SIDEBAR */

nav {
    color: #ffffff;
}

.branding a, :is(.main-nav, .util-nav) li a {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.branding a :first-child, 
ul li a :first-child{
    display: block;
    margin: auto;
}

nav ul {
    font-weight: 600;
    font-size: 1.4rem;
}

nav ul li a {
    padding: 12px 0px;
}

.branding {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.7rem;
}

.branding a {
    padding: 25px 0px;
}

.main-nav {
    margin-bottom: 50px;
}

/* HEADER */

header {
    padding: 15px 50px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.profile-pic-wrapper {
    background-color: black;
}

/* Upper Header */

.upper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    background-color: #e2e8f0;
    height: 30px;
    width: 90%;
    max-width: 650px;
    margin-left: 30px;
    border: 0px;
    border-radius: 25px;
    text-indent: 1ch;
}

.uh-right-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 35px;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 30px;
    font-size: 1.05rem;
    font-weight: 700;
}

.upper-header .profile-pic-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Lower Header */

.lower-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
} 

.lh-left-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.lh-right-section {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 0px 25px;
}

.lh-right-section button {
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 40px;
    background-color: #1992d4;
    color: white;    
    font-weight: 600;
    text-align: center;
}

.lower-header .profile-pic-wrapper {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.greeting-text span {
    display: block;
}

.greeting-text {
    font-weight: 700;
    line-height: 1.5;
    font-size: 0.8rem;
}

.greeting-text :last-child {
    font-size: 1.35rem;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 20px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.announcements-list, 
.trendings-list {
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
}

.announcements {
    margin-bottom: 10px;
}

.project-card, .announcements-list, .trendings-list {
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.1);
}

/* Projects Section */

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: #ffffff;
    height: 220px;
    border-radius: 10px;
    border-left: 10px solid #f0b429;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    align-content: space-between;
}

.project-card h3 {
    font-weight: 600;
    margin: 0;
}

.project-card p {
    color: #676767;
    margin: 0;
}

.project-actions {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    justify-content: end;
    align-items: center;
    padding: 0px;
}

.project-actions button {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
}

/* Announcements */

.announcements-list {
    padding: 10px 25px;
}

.announcements-list li {
    border-bottom: 2px solid #d2d2d2;
    padding: 20px 5px;
}

.announcements-list :last-child {
    border-bottom: none;
}

.announcements-list li a h3 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.announcements-list li a p {
    font-size: 0.75rem;
    color: #676767;
    margin: 0;
}

/* Trendings */

.trendings-list {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-items: start;
}

.trendings-list li a {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.trendings-list li a span {
    display: block;
}

.trendings-list li a .profile-pic-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}